<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Padder</title>
<link rel='stylesheet'
	href='/webjars/bootstrap/3.1.0/css/bootstrap.min.css' />
</head>
<body>
	<div th:replace="header :: header"></div>
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Input</th>
				<th>Output</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item : ${historyItems}">
				<td th:text="${item.id}">Id</td>
				<td th:text="${item.input}">Input</td>
				<td th:text="${item.output}">Output</td>
			</tr>
		</tbody>
	</table>
</body>
</html>